* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(127, 255, 212, 0.473);
}

.wrapper {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-weight: 100;
}

.form-wrapper {
    background: #f9f9f9;
    padding: 25px;
    margin: 1rem 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form h1 {
    display: block;
    font-size: 1.8rem;
    font-weight: 300;
}

.form-wrapper form {
    padding-left: 0.5rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="text"],
input[type="date"],
select {
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

fieldset {
    border: medium none !important;
    min-width: 100%;
    padding: 0;
    width: 100%;
    margin-top: 1rem;
}

input[type="radio"]:last-of-type {
    margin: 0.5rem 0 0 1rem;
}

#female {
    margin-right: 0;
}

form button {
    margin-top: 1rem;
    padding: 0.7rem 0;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: rgba(127, 255, 212, 0.473);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.popup {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: none;
    /* opacity: 0;
    visibility: hidden; */
    transition: opacity 400ms ease-in;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup__content {
    max-width: 40%;
    margin: 1rem auto;
    min-height: 420px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 200;
}

.popup__content label {
    display: block;
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
}

.popup__close {
    float: right;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

#name__error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    display: none;
}

.result p {
    display: inline;
}